<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="西安峻茂 峻茂信息 智慧旅游 智慧文博 智慧家居 智慧城市">
  <meta name="description"
    content="西安峻茂信息科技有限公司立足于古城西安，致力于提供完善的智慧服务解决方案，主要面向智慧城市、智慧文博、智慧旅游、智慧家居几大领域。峻茂信息拥有经验丰富的技术人才，拥有高素质的工作团队，可以及时为客户提供完善的解决方案。">
  <title>
    {% if page.title %}
    {{ page.title }} | {{site.title}}
    {% else %}
    {{site.index_title}}
    {% endif %}
  </title>
  {% unless page.title %}
  <!-- 规范首页地址 -->
  <link rel="canonical" href="{{ site.url }}">
  {% endunless %}
  <link rel="Shortcut Icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/assets/vendor/bootstrap-4.3.1/css/bootstrap.min.css" | prepend: site.baseurl }}"
    media="screen" charset="utf-8">
  <link rel="stylesheet" href="{{ "/assets/vendor/util.css-0.1.7/util.min.css" | prepend: site.baseurl }}"
    media="screen" charset="utf-8">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" media="screen" charset="utf-8">
</head>

<body>
  {{content}}

  <div class="text-center" style="color: #ddd; position: absolute; bottom: 0; padding-bottom: 10px; width: 100%">
      <span>
        陕ICP备16012344号 西安峻茂信息科技有限公司 <br>
        <!-- Copyright © 2016 Xian Jumor Information and Technology Co., Ltd All Rights Reserved. -->
      </span>
  </div>

  <script type="text/javascript" src="{{ "/assets/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript"
    src="{{ "/assets/vendor/bootstrap-4.3.1/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  {% include baidu_tongji.html %}
</body>

</html>